.outer{
    background-color: gold;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items:stretch;
}

.inner{
    border: solid 1px blue;
    display: flex;
    justify-content: center;
}

.main {
    border: solid 1px green;
    width: 75%;
    display: flex;
    flex-direction: column;
    
}

.cardBox {
    border: solid 1px purple;
    display: flex;
    justify-content: space-between;
}

.cards {
    width: 230px;
    display: flex;
    /* justify-content: space-between; */
}